html, body
{
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.cache-table
{
  width: 40%;
  margin: auto;
  text-align: center;
}

.polling-dropdown{
  position: relative;
  display: inline-block;
  left: 80%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.polling-dropdown span {
  color: white;
  margin-right: 0.5rem;
}

.table-responsive-div{
  padding: 150px 0px;
  height: 100vh;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

th, td {
  padding: 0.25rem;
}
