body {
  margin: 0;
  padding: 2rem;
}

.cache-table
{
  width: 40%;
  margin: auto;
  text-align: center;
}

.table-responsive-div{
  padding: 150px 0px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(135,29,173,1) 50%, rgba(0,212,255,1) 100%);
}

th, td {
  padding: 0.25rem;
}
